hydra-core
icecream
imageio[ffmpeg]
matplotlib
ninja
numpy
# nvdiffrast lives next to diff-dope/: ../nvdiffrast
../nvdiffrast
omegaconf
opencv-python
pillow
pyglet==1.5.27
pyrr
tdqm
torch
trimesh[easy]==3.21.5
